### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [1]:
import regex as re

In [7]:
Sample_Text='Python Exercises, PHP exercises.'
result=re.sub('[ ,.]',':',Sample_Text)
print(result)

Python:Exercises::PHP:exercises:

### Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [9]:
Dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [12]:
import pandas as pd
df=pd.DataFrame(Dictionary)
print(df)

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [15]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [21]:
string="""Structured query language (SQL) is a programming language for storing and processing information in a relational database. A relational database stores information in tabular form, with rows and columns representing different data attributes and the various relationships between the data values."""
pattern=r'\b\w{4,}\b'
prg=re.compile(pattern)
result=prg.findall(string)
print(result)

['Structured', 'query', 'language', 'programming', 'language', 'storing', 'processing', 'information', 'relational', 'database', 'relational', 'database', 'stores', 'information', 'tabular', 'form', 'with', 'rows', 'columns', 'representing', 'different', 'data', 'attributes', 'various', 'relationships', 'between', 'data', 'values']

### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [29]:
string="""Structured query language (SQL) is a programming language for storing and processing information in a relational database. A relational database stores information in tabular form, with rows and columns representing different data attributes and the various relationships between the data values."""
pattern=r'\b\w{3,5}\b'
prg=re.compile(pattern)
result=prg.findall(string)
print(result)

['query', 'SQL', 'for', 'and', 'form', 'with', 'rows', 'and', 'data', 'and', 'the', 'the', 'data']

### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [13]:
import re
def parenthesis(Sample_Text):
    pattern=re.compile(r"[()]")
    m=[]
    for i in Sample_Text:
        a=re.sub(pattern,'',i)
        m.append(a)
    return m

In [14]:
Sample_Text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [15]:
result = parenthesis(Sample_Text)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

#### Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [16]:
import re

In [31]:
with open('paren.txt', 'r') as file: 
    text = file.read()
result = re.sub(r'\([()]*\)', '', text)

In [33]:
with open('paren.txt', 'w') as file:
    file.write(result)
    print(result)

 ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

### Question 7- Write a regular expression in Python to split a string into uppercase letters.

#### Sample text: “ImportanceOfRegularExpressionsInPython”

In [41]:
import re
Sample_text= 'ImportanceOfRegularExpressionsInPython'
pat=r'[A-Z][a-z]+'
result = re.findall(pat,Sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

### Question 8- Create a function in python to insert spaces between words starting with numbers.

#### Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [51]:
import re

def spaces(Text):
    pattern = r"(\d+)([a-zA-Z]+)"
    result = re.sub(pattern, r" \1\2", Text)
    return result

In [49]:
Text= "RegularExpression1IsAn2ImportantTopic3InPython"
spaces(Text)

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

#### Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [53]:
import re

def spaces(Text):
    pattern = r"(\d+)([a-zA-Z]+)"
    result = re.sub(pattern, r" \1 \2", Text)
    return result

In [54]:
Text= "RegularExpression1IsAn2ImportantTopic3InPython"
spaces(Text)

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

#### Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [55]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df1 = pd.DataFrame(df)
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [56]:
pattern = r'(\w{6})'
df1['first_five_letters'] = df1['Country'].str.extract(pattern,expand=False)
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [57]:
 import re
pat='[\w-]+'
string='My n0me_i51Manisha'
result=re.match(pat,string)
print(result)

<re.Match object; span=(0, 2), match='My'>

### Question 12- Write a Python program where a string will start with a specific number.

In [59]:
string = '869 76543 SQL is a Structured Query Language'
pattern = '^\d'
output = re.match(pattern,string)
print(output)

<re.Match object; span=(0, 1), match='8'>

### Question 13- Write a Python program to remove leading zeros from an IP address

In [62]:
ipaddress = '381.100.604.510'
pat = '[0]'
result = re.sub(pat,'',ipaddress)
print(result)

381.1.64.51

### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [4]:
statement = 'On August 15 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'

In [30]:
import re
pat = '(A.*t) (\d{1,2}) (\d{4})'

result = re.findall(pat, statement)
print(result)

[('August', '15', '1947')]

### Question 15- Write a Python program to search some literals strings in a string.

In [27]:
sampletext=  'The quick brown fox jumps over the lazy dog.'

In [28]:

pat = ['fox', 'dog', 'horse']
for i in pat:
    print(i,sampletext)
    if re.search(i,sampletext):
        print('matched')
    else:
        print('Not matched')

fox The quick brown fox jumps over the lazy dog.
matched
dog The quick brown fox jumps over the lazy dog.
matched
horse The quick brown fox jumps over the lazy dog.
Not matched

### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [29]:
Sampletext = 'The quick brown fox jumps over the lazy dog.'
pat = 'fox'
result = re.search(pat,Sampletext)
print(result)

<re.Match object; span=(16, 19), match='fox'>

### Question 17- Write a Python program to find the substrings within a string.

In [32]:
import re
Sampletext = 'Python exercises, PHP exercises, C# exercises'
pat = 'exercises'
output = re.findall(pat,Sampletext)
print(output)

['exercises', 'exercises', 'exercises']

### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [39]:
import re
Sampletext = 'Python exercises, PHP exercises, C# exercises'
pat= 'exercises'
output = [i for i in range(len(Sampletext))if Sampletext.startswith(pat,i)]
print('position of substring is',output)

position of substring is [7, 22, 36]

### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [45]:
str='Gandhis birthday, 1869-10-02 is commemorated in India as Gandhi Jayanti, a national holiday'
pat = r'(\d{4})-(\d{2})-(\d{1,2})'
output = re.sub(pat,'\\3-\\2-\\1',str)
print(output)

Gandhis birthday, 02-10-1869 is commemorated in India as Gandhi Jayanti, a national holiday

### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [47]:
def func(str):
    org = re.compile(r'\d+\.\d{2}')
    output = org.findall(str)
    return output
str = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
func(str)

['01.12', '0132.12', '2.31', '3.01', '27.25', '0.25']

### Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [51]:
str = 'Barack Hussein Obama II commonly known as Barack Obama is an American politician who served as the 44th president of the United States from 2009 to 2017.'
for i in re.finditer("\d+", str):
    print(i.group())
    print("Index position is", i.start())

44
Index position is 99
2009
Index position is 140
2017
Index position is 148

### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [58]:
SampleText= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pat = r'\d+'
output = re.findall(pat,SampleText)
print('largest value is :',max(output))

largest value is : 950

### Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [61]:
def space(SampleText):
    pat = r"(\w)([A-Z])"
    return re.sub(pat,r"\1 \2",SampleText)
SampleText = "RegularExpressionIsAnImportantTopicInPython"
print(space(SampleText))

Regular Expression Is An Important Topic In Python

### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [65]:
import re
str = 'ExCeL'
pat = r'[A-Z]+[a-z]+'
if re.search(pat,str):
    print('Sequence Matched')
else:
    print('Sequence Not Matched')

Sequence Matched

### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [70]:
SampleText= "Hello hello world world"
pat = r'\b(\w+)(\s+\1\b)+'
output = re.sub(pat,r'\1',SampleText)
print(output)

Hello hello world

### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [78]:
str = 'manu5216 SQL is a structure query LaNgu0g#'
output = re.match(r'^\w.+',str)
print(output)

<re.Match object; span=(0, 42), match='manu5216 SQL is a structure query LaNgu0g#'>

### Question 27-Write a python program using RegEx to extract the hashtags.

In [79]:
Sample_Text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
re.findall(r'#\w+',Sample_Text)

['#Doltiwal', '#xyzabc', '#Demonetization']

### Question 28- Write a python program using RegEx to remove <U+..> like symbols

### Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [82]:
Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+\w{4}>'
output = re.sub(pattern,'',Sample_Text)
print(output)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

### Question 29- Write a python program to extract dates from the text stored in the text file.

In [1]:
import re
with open('date.txt', 'r') as file:   ## extract_date is a text file
    text = file.read()
newtext = re.findall(r'\d{2}-\d{2}-\d{4}',text)
print(newtext)

['12-09-1992', '15-12-1999']

### Question 30- Create a function in python to remove all words from a string of length between 2 and 4.The use of the re.compile() method is mandatory.

In [2]:
def word(SampleText):
    prg = re.compile(r"\b\w{2,4}\b")
    output = re.sub(prg,'',SampleText)
    print(output)

In [5]:
SampleText= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [6]:
word(SampleText)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.